{% load static %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-4">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                <span data-feather="home"></span>
                <img src="{% static 'image/customer2.png' %}" alt="" style="width: 8%;padding-bottom: 3px;">
                <strong class="ml-md-2">CUSTOMER</strong>
                </a>
            </li>
        </ul>
    </div>
</nav>