{% extends 'base_auth.html' %}
{% load compress %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card register-card">
            <div class="card-body">
                <div class="card-title py-3 text-center">
                    <img src="{% static 'image/customer.png' %}" alt="" class="pb-3" style="width: 15%;">
                    <h4>Reset Password</h4>
                </div>
                <form action="{% url 'reset-password' uidb64 token %}" method="post">
                    
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}
                    <div class="text-sm text-danger" id="emailInvalidFeedback"></div>
                    <div class="form-group">
                        <input type="password" name="password" id="passwordField" placeholder="Password" aria-describedby="inputGroupPrepend2" class="form-control form-control-sm passowrd-input-field" required>
                        <span><i class="far fa-eye showPasswordToggle" id="togglePassword"></i></span>   
                    </div>
                    <progress max="100" value="0" id="passwordStrength"></progress>
                    <div class="form-group">
                        <input type="password" name="confirmpassword" id="confirmPasswordField" placeholder="Confirm Password" aria-describedby="inputGroupPrepend2" class="form-control form-control-sm passowrd-input-field" required>
                        <span><i class="far fa-eye showPasswordToggle2" id="togglePassword"></i></span>        
                    </div>
                    <input type="submit" value="Reset Password" class="btn btn-block btn-primary submit-btn"> 
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

{% compress js %}
<script src="{% static 'js/main.js' %}"></script>
{% endcompress %}

{% endblock content %}